h1 {
color:#FFC864;
letter-spacing -1px;
  text-shadow: 3px 2px #D2E0EB;
}

h2 {
color:#FF70AB;
letter-spacing -1px;
  text-shadow: 3px 2px #5281B0;
}

hr {
color:#A07EA5;
}

p {
color:#6699CC;
}

body {
  background-color:#F3F8FC;
  }
